body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cartas */
}

li {
  background: linear-gradient(135deg, #6d77b6, #4b5dd4);
  border-radius: 10px;
  margin: 15px;
  padding: 20px;
  width: 200px; /* Ancho de la carta */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; /* Efecto de hover */
}

li:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: rgb(36, 35, 37);
  text-align: center;
}

p {
  margin: 5px 0;
  color: #fff5f5;
  text-align: left;
}
.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Gira la carta al pasar el mouse */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc; 
}

.card-back img {
  width: 119%; 
  height: 113%; 
  object-fit: cover; 
}

.logo {
  width: 150px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
  transition: transform 0.3s; 
}

.logo:hover {
  transform: scale(1.1); 
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  font-size: 34px; 
  color: #333;
}

.loading .spinner {
  border: 8px solid #259421; 
  border-top: 8px solid #000000; 
  border-radius: 50%;
  width: 50px; 
  height: 50px; /* Alto del spinner */
  animation: spin 1s linear infinite; /* Animación del spinner */
}
.charge {  /*este es el p */
  color: #1b8a37;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}