body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
  background-image: url("Imagenes/OP\ back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay; /* Mezcla el color con la imagen */

  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Capa semitransparente sobre la imagen */
}
h1 {
  text-align: center;
  color: #ff7e5f;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las cartas */
}

li {
  background: linear-gradient(135deg, #6d77b6, #4b5dd4);
  border-radius: 10px;
  margin: 15px;
  padding: 19px;
  height: 320px;
  width: 225px; /* Ancho de la carta */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; /* Efecto de hover */
}

li:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: rgb(36, 35, 37);
  text-align: center;
}

p {
  margin: 5px 0;
  color: #fff5f5;
  text-align: left;
}
.card {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Permite la rotación 3D */
}
.card:hover .card-inner {
  transform: rotateY(180deg); /* Gira la carta al pasar el mouse */
}
.card-front {
  overflow: hidden; /* Oculta cualquier desbordamiento del texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */  
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  transform: rotateY(
    180deg
  ); /* Asegura que la carta de atrás esté rotada inicialmente */
}

.card-back img {
  width: 119%;
  height: 115%;
  object-fit: cover;
}

.logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 34px;
  color: #333;
}

.loading .spinner {
  border: 8px solid #259421;
  border-top: 8px solid #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px; /* Alto del spinner */
  animation: spin 1s linear infinite; /* Animación del spinner */
}
.charge {
  /*este es el p */
  color: #bec7c0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
